<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-gcm-heartbeat"
        version="1.0.0">

  <name>Tabris.js GCM Heartbeat Plugin</name>
  <description>Refresh the connection with the GCM service to ensure timely arrival of push notifications.</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-gcm-heartbeat.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-gcm-heartbeat/issues</issue>

  <js-module src="www/GCMHeartbeat.js">
    <clobbers target="esgcmheartbeat" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/com/eclipsesource/tabris/gcm/heartbeat/GCMHeartbeatHandler.kt"
                 target-dir="src/com/eclipsesource/tabris/gcm/heartbeat" />
    <source-file src="src/android/com/eclipsesource/tabris/gcm/heartbeat/GCMHeartbeat.kt"
                 target-dir="src/com/eclipsesource/tabris/gcm/heartbeat" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
          android:name="com.eclipsesource.tabris.android.HANDLER.com.eclipsesource.tabris.gcm.heartbeat.GCMHeartbeatHandler"
          android:value="com.eclipsesource.tabris.gcm.heartbeat.GCMHeartbeatHandler" />
    </config-file>
  </platform>

</plugin>
